<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login - Authentication</title>
</head>

<body>
    <div class="container-login">
        <form>
            <div>
                <label>Email:</label>
                <input type="text" name="email" /><br />
            </div>
            <div>
                <label>Password:</label>
                <input type="password" name="password" />
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
        </form>

        <a href="/signup">New to this app? please signup</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $('form').on('submit', (event) => {
            event.preventDefault();
            const email = $('input[name="email"]').val().trim();
            const password = $('input[name="password"]').val().trim();

            $.ajax({
                    url: '/login',
                    method: 'POST',
                    data: {
                        email,
                        password
                    }
                })
                .then((data) => {
                    window.location.href = '/profile';
                })
                .catch((error) => {
                    window.location.href = '/signup';
                });
        });
    </script>

</body>

</html>